[DEFAULT]
#Number of probe threads
numThreads=5
#TMCI Host
host=127.0.0.1
#TMCI Port
port=2323
#Timeout while waiting on probe completion
probeTimeout=30
#Minimum seconds to wait between probes per-thread.
probeWait=30
#Database location
databaseFile=database.sql
#DEBUG, INFO, WARNING
verbosity=WARNING
#Logfile location
logFile=probe.log

[OVERRIDE]


