[OVERRIDE]
#
# Define an option here to override a default.
# For example, to log at INFO instead of the default WARNING, uncomment the following:
#
#verbosity=INFO

[DEFAULT]
#
# Number of probe sessions. This should be set to approximately the minimum
# sustained number of peers expected.
#
numThreads=20

#
# FCP Host.
#
host=127.0.0.1

#
# FCP Port.
#
port=9481

#
# Seconds to wait between probes per-thread.
#
probeWait=61

#
# Database location.
#
databaseFile=database.sql

#
# Logging level: DEBUG, INFO, WARNING, ERROR
#
verbosity=WARNING

#
# Log location.
#
logFile=probe.log

#
# Comma-delimited list of types. Every time a probe is sent its type is randomly
# selected from this list. Available types are documented in src/freenet/node/probe/Type.java
#
types=BANDWIDTH,BUILD,IDENTIFIER,LINK_LENGTHS,LOCATION,STORE_SIZE,UPTIME_48H,UPTIME_7D

#
# Hops to live.
#
hopsToLive=25

