[OVERRIDE]
#
# Define an option here to override a default.
# For example, to log at INFO instead of the default WARNING, uncomment the following:
#
#verbosity=INFO

[DEFAULT]
#
# Number of probe sessions. This should be set to approximately the minimum
# sustained number of peers expected. If OVERLOAD errors are common it is an
# indication that this value is too high. This default works well with a 25-peer
# limit.
#
numThreads=20

#
# FCP Host.
#
host=127.0.0.1

#
# FCP Port.
#
port=9481

#
# Seconds to wait in each session between sending probes.
#
probeWait=61

#
# Database location.
#
databaseFile=database.sql

#
# Logging level: DEBUG, INFO, WARNING, ERROR
#
verbosity=WARNING

#
# Log location.
#
logFile=probe.log

#
# Comma-separated list of types. Every time a probe is sent its type is randomly
# selected from this list. By default all probe types are included.
#
# Result types are documented in more detail in src/freenet/node/probe/Type.java
#
# Multiple occurances of the same type are considered separately, so to send
# both BANDWIDTH and UPTIME_48H with BANDWIDTH more often one could use
# "BANDWIDTH,BANDWIDTH,UPTIME_48H".
#
types=BANDWIDTH,BUILD,IDENTIFIER,LINK_LENGTHS,LOCATION,STORE_SIZE,UPTIME_48H,UPTIME_7D

#
# Hops to live.
#
hopsToLive=25

